@font-face {
  font-family: "iconfont"; /* Project id 2411820 */
  src: url('iconfont.woff2?t=1636358553200') format('woff2'),
       url('iconfont.woff?t=1636358553200') format('woff'),
       url('iconfont.ttf?t=1636358553200') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconbranch:before {
  content: "\e67e";
}

.iconrecycle:before {
  content: "\e67f";
}

.iconsetting:before {
  content: "\e680";
}

.iconnextNode:before {
  content: "\e67d";
}

.iconsuccess:before {
  content: "\e675";
}

.iconwarning:before {
  content: "\e67b";
}

.iconfaile:before {
  content: "\e67c";
}

.icongoods:before {
  content: "\e672";
}

.iconcount:before {
  content: "\e674";
}

.iconsystem:before {
  content: "\e670";
}

.iconterminal:before {
  content: "\e671";
}

.iconperson:before {
  content: "\e673";
}

.iconactivite:before {
  content: "\e676";
}

.iconframework:before {
  content: "\e677";
}

.iconmanage:before {
  content: "\e678";
}

.iconavater:before {
  content: "\e679";
}

.icontemp:before {
  content: "\e67a";
}

.iconshanchu:before {
  content: "\e6b8";
}

.iconelipsis:before {
  content: "\e66e";
}

.iconshuzihua:before {
  content: "\e997";
}

.iconyinzhangrenzheng:before {
  content: "\e99b";
}

.iconuser:before {
  content: "\e99e";
}

.iconyinzhang:before {
  content: "\e807";
}

.iconguanliyuangongju:before {
  content: "\e809";
}

.iconzhuye:before {
  content: "\e80b";
}

.iconchangguirenwu:before {
  content: "\e80c";
}

.iconxiaoshoushenpi:before {
  content: "\e810";
}

